<div class="user-container">
  <div class="user-row row">
    <div class="user-photo col-sm-4 col-lg-2">
      <img src=<%= @user.photo %>>
    </div>
    <div class="user-description col-sm-8 col-lg-10">
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter.to_i %></p>
    </div>
  </div>
</div>